*{
  color: #eee;
}
body{
  background-image: url(../img/background.jpg);
}

#container{
  width: 90%;
  margin: 0 auto;
}

header{
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

img{
  vertical-align: middle;
}

h1{
  display: inline-block;
}

nav{
  padding: 10px 0;
  border-bottom: 1px solid #fff
}

.counter-text{
  font-size: 23px;
  font-weight: bold;
  padding-top: 10px;
}

.counter{
  background: #faa501;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

main{
  padding: 10px 0;
}

.email{
  background: #d3d3d3;
  padding: 1px;
  border: 1px solid #000;
}

.star{
  color: #000;
}

.object{
  color: #000;
  font-weight: bold;
}

.email-text{
  color: #919191;
}

.unread{
  background: #fff;
}

footer{
  border-top: 1px solid #fff;
  text-align: center;
  padding: 10px;
}

.the-name{
  font-size: 23px;
}
